.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container {
  padding: 15px;
  max-width: 700px;
  width: 450px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(226, 240, 247);
}
